.navbar-collapse{
    flex-grow: 0;
}
.title-text{
    font-size: 50px !important;
    font-weight: bolder !important;
}
.header{
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px !important;
    font-weight: bolder !important;
}
i{
    font-size:50px;
}